body {
    font-family: 'Roboto', sans-serif; /* Modern bir font */
    margin: 0;
    padding: 0;
    background-color: #f9f9fb; /* Daha yumuşak bir arka plan rengi */
}

.flask-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flask-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-and-prediction {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 800px;
}

.flask-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border: none; /* Kenar çizgileri kaldırıldı */
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); /* Daha hafif gölge */
}

.flask-form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: normal; /* Font kalınlığı azaltıldı */
    color: #333;
}

.flask-form input[type="number"],
.flask-form input[type="checkbox"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd; /* Border rengi yumuşatıldı */
    border-radius: 5px;
    width: 100%;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50; /* Yeşil tonu değiştirildi */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

.prediction-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #e9f5e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    min-width: 300px;
    min-height: 150px;
    transition: opacity 1s ease-in-out;
    opacity: 1; /* Görünür yap */
}

.tree-icon {
    font-size: 4rem;
    color: #4CAF50;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tree-circle {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px; /* Daire boyutu */
    height: 50px; /* Daire boyutu */
    background-color: #4CAF50; /* Daha koyu bir yeşil */
    border-radius: 50%;
    z-index: 0;
}

.prediction-text {
    margin-top: 60px; /* İkon ve dairenin altından boşluk */
    font-size: 18px;
    font-weight: bold;
    color: #333;
    z-index: 2;
}

.prediction-container.show {
    opacity: 1;
}

.prediction-container.show .tree-icon-result {
    transform: translateX(-50px);
    opacity: 1;
}

.prediction-container.show .prediction-text {
    opacity: 1;
    transform: translateX(10px);
}