.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 3%;
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
    max-height: 90vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 5%;
}

.text{
    color: rgb(4, 39, 106);
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(4, 39, 106);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
    width: 5%;
}

.input input{
    width: 400px;
    height: 50px;
    border: none;
    background: transparent;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: rgb(4, 39, 106);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: rgb(4, 39, 106);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}