
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.homepage-wrapper {
    background: rgb(121,161,34);
    background: linear-gradient(0deg, rgba(121,161,34,1) 0%, rgba(0,33,65,1) 95%);
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.homepage-content {
    text-align: center;
    flex: 1;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.info-box {
    flex: 1 1 200px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #4CAF50;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.info-box:hover {
    transform: translateY(-5px) scale(1.05) rotate(2deg);
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.info-box-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}

.info-box img {
    width: 90%;
    height: 80%;
    object-fit: cover;

}

.info-box-text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.info-box h2 {
    font-size: 24px;
    margin: 0;
}


.slider-item {
    position: relative;
    color: white;
}

.slider-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
}





.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}


.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.modal-header h2 {
    color: #ffffff;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}


.close-button {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    color: #1B5E20;
}

.close-button:hover {
    color: #000;
}


.modal-body {
    overflow-y: auto;
    max-height: 60vh;
}


.modal-body p {
    margin-bottom: 12px;
    line-height: 1.6;
    color: white;
    font-size: 16px;
}

.modal-body p.bold {
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}


.modal-body ul {
    padding-left: 20px;
}

.modal-body ul li {
    margin-bottom: 8px;
    list-style-type: disc;
    color: white;
    font-size: 16px;
}

.modal-body ul li {
    font-weight: 500;
    list-style-type: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.footer {
    width: 100%;
}

.homepage-wrapper .nav {
    margin-top: -3vh;
}

.homepage-slider {
    width: 100vw;
    height: 100vh;

    .slick-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: white;
        background-size: cover;

    }
}

.slick-slide h1 {
    text-align: center;
    padding: 0 20px;
    color: #abd1b1;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    margin: 1%;
    font-family: 'Lexend', sans-serif;
}

.slick-slide p {
    text-align: center;
    padding: 0 20px;
    font-family: 'Lexend', sans-serif;
    color: white;

}
.map iframe {
    margin-bottom: 5%;
    display: block; /* Haritanın düzgün görünmesini sağlar */
    margin-left: auto; /* Haritayı merkeze alır */
    margin-right: auto; /* Haritayı merkeze alır */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Gölge efekti ekler */
}
.map{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

