/* InfoPage.css */
.info-container {
    background: rgb(121,161,34);
    background: linear-gradient(0deg, rgba(121,161,34,1) 0%, rgba(0,33,65,1) 95%);
    min-height: 100vh; /* Sayfanın tam boyunu kaplar */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lexend', sans-serif;
}

.info-section {
    flex: 1;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

.info-heading {
    font-size: 2.5rem;
    color: white; /* Daha koyu yeşil renk */
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.section-subheading {
    font-size: 2.6rem;
    color: #01410b; /* Daha koyu yeşil renk */
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
    color: #f3f0f0; /* Daha koyu yazı rengi */
}

.info-image {
    max-width: 70%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #2E7D32; /* Resimlerin etrafında koyu yeşil kenarlık */
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.text-image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* Resim ve metin arasındaki boşluk */
}

.text-container {
    flex: 1;
    min-width: 300px;
}

.image-container {
    flex: 1;
    min-width: 300px;
    text-align: center; /* Resimleri ortalar */
}

.video-container {
    margin: 20px 0;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    /*background-color: #8A9A5B;  Beyaz arka plan */
    transition: transform 0.3s ease-in-out;
}



iframe {
    width: 100%;
    height: 480px;
    border: none;
    border-radius: 8px;
}

.footer {
    width: 100%;
    bottom: 0;
}

/* Animasyonlar */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
