.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(121,161,34);
    background: linear-gradient(0deg, rgba(121,161,34,1) 0%, rgba(0,33,65,1) 95%);
}

.profile-content {
    flex: 1;
    display: flex;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-info {
    flex: 0 0 25%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: auto;
}

.avatar-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-placeholder {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    color: #7d7d7d;
}

.avatar-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.avatar-wrapper:hover .avatar-label {
    opacity: 1;
}

.user-info input[type="file"] {
    display: none;
}

.section-heading {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}


.user-materials {
    flex: 1;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-materials h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

.material-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.material-item {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    color: white;
}

.material-item.paper {
    background: rgba(0, 128, 0);
}

.material-item.metal {
    background: rgba(178, 34, 34);
}

.material-item.glass {
    background: rgba(30, 144, 255);
}

.material-item.plastic {
    background: rgba(253, 216, 53);
    color: black;
}

.material-item:hover {
    transform: translateY(-5px);
}

.material-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.material-value {
    font-size: 1.5em;
    color: inherit;
    font-weight: bold;
}

.material-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: inherit;
}

.user-info p, .user-materials p {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
}

.user-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
}

.material-form {
    margin-top: 60px;
}

.material-input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.material-input label {
    flex: 0 0 100px;
    font-weight: bold;
    color: white;
}

.material-input input {
    flex: 0 0 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.updateMaterial {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.submit-button.with-margin {
    margin-bottom: 20px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2 {
    margin: 0;
    color: white;
}

.popup-close {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
}

.chart-container {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    padding:20px;
    border-radius:15px;
    background: rgba(255, 255, 255, 0.4);
}