*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 33, 65);
  padding: 0 20px;
  height: 8vh;
}

.nav__brand {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.logo img{
  width: 19%;
transition: all 2s ease-in-out;
}
.logo:hover img {
   transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
}
.nav__link button{
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.6rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__link button:hover {
  color: lightgray;
}


.nav__menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav__link {
  color: rgb(204, 204, 204);
  text-decoration: none;
}
.logout-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.auth-links {
  display: flex;
  align-items: center; /* İçerikleri dikey olarak ortalar */
}
.logout-icon {
  color: #dc3545; /* İkon rengi */
  font-size: 1.5em; /* İkon boyutu */
  margin-right: 5px; /* Eğer metin de eklerseniz sağ tarafında boşluk oluşturur */
}
.logout-button:hover .logout-icon{
  background-color: #f8f8f8; /* Fare üzerine gelindiğinde arka plan */
  color: #0056b3;
}

.nav__link:hover {
  color: white;
}

.nav__toggler {
  display: none;
  cursor: pointer;
}

.nav__toggler div {
  background: rgb(204, 204, 204);
  height: 2px;
  width: 25px;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: absolute;
    right: 0;
    top: 8vh;
    width: 50vw;
    height: 92vh;
    flex-direction: column;
    background: rgb(0, 33, 65);
    transform: translateX(100%);
    transition: transform 0.5s ease;
    padding: 10px;
  }

  .nav__active {
    transform: translateX(0);
  }

  .nav__toggler {
    display: block;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

