@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.about-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(121,161,34);
    background: linear-gradient(0deg, rgba(121,161,34,1) 0%, rgba(0,33,65,1) 95%);
}

.about-section {
    flex: 1;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Lexend', sans-serif;
    color: white;
}

.about-heading {
    font-size: 4.4rem;
    font-weight:600;
    margin-bottom: 15px;
    color:

}

.about-section p {
    font-size: 1.0em;
    font-weight:300;
    line-height: 1.6;
    color: white;
}

.team-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.team-member {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); /* Glassmorphism effect */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: #1B5E20;
}

.team-member p {
    font-size: 1.0em;
    line-height: 1.6;
    color: #666;
}
